image: gcc
before_script:
  - apt-get update --yes
  - apt-get install --yes cmake
  - apt-get install --yes libgtest-dev

variables:
  BIN_NAME: iz2

  VALGRIND_LOG: "valgrind.log"
  NO_LOST_PATTERN: "All heap blocks were freed -- no leaks are possible"
  NO_ERROR_PATTERN: "ERROR SUMMARY: 0 errors"

stages:
  - build
  - test_mem


build:
  stage: build
  script:
    - mkdir build
    - cd build
    - cmake ..
    - cmake --build .
  artifacts:
    paths:
      - "build"

test_mem:
  stage: test_mem
  script:
    - apt-get update && apt-get install -y valgrind
    - cd build/
    - valgrind --tool=memcheck --leak-check=summary --log-file=${VALGRIND_LOG} --leak-check=full --show-leak-kinds=all ctest -V -R
    - export NO_LOST=$(grep "${NO_LOST_PATTERN}" ${VALGRIND_LOG})
    - export NO_ERROR=$(grep "${NO_ERROR_PATTERN}" ${VALGRIND_LOG})
    - if [ -z "${NO_LOST}" ] || [ -z "${NO_ERROR}" ]; then cat ${VALGRIND_LOG}; exit 1; fi


